html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #161616;
    overflow: hidden;
}

.block {
    position: relative;
    width: 550px;
    height: 400px;
    margin: 10px 300px 20px 80px;
}

h1 {
    position: absolute;
    font-family: "Monument Extended";
    font-weight: lighter;
    font-size: 64px;
}

.block-1 {
    background: url(https://images.pexels.com/photos/2887774/pexels-photo-2887774.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat 50% 50%;
    background-size: cover;
}

.block-2 {
    background: url(https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.block-3 {
    background: url(https://images.pexels.com/photos/11824539/pexels-photo-11824539.jpeg) no-repeat 50% 50%;
    background-size: cover;
    background-position: top;
}

.block-4 {
    background: url(https://images.pexels.com/photos/13104404/pexels-photo-13104404.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat 50% 50%;
    background-size: cover;
}

.block-5 {
    background: url(https://images.pexels.com/photos/9361349/pexels-photo-9361349.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat 50% 50%;
    background-size: cover;
    background-position: top;
}

.container {
    margin-top: 100px;
    margin-left: 200px;
}

.block-1 h1,
.block-3 h1,
.block-5 h1 {
    bottom: 0;
    right: -60px;
}

.block-2 h1,
.block-4 h1 {
    right: -60px;
}
